<template>
    <div style="overflow: hidden">
        <v-app-bar app class="drag" max-height="4rem" color="primary" v-if="!$route.path.includes('window')"
                   style="margin-top: 0; padding-top: 0">
            <v-toolbar-title class="no-drag" style="color: white">King Spin</v-toolbar-title>
            <v-spacer/>
            <v-icon class="no-drag" color="white" @click="close">mdi-close
            </v-icon>
        </v-app-bar>
        <v-container class="mr-0 mr-md-2 ml-0 ml-md-2">
            <v-switch v-model="play" label="Play" dense @change="save"/>
            <v-text-field v-model="sampleTime" :disabled="play" dense suffix="s" label="Tempo de Amostra" type="number"
                          :rules="[(value)=> parseFloat(value)>0.1 || 'Maiores que 0.1 segundos']"/>
            <v-text-field v-model="threshold" :disabled="play" dense label="Threshold" suffix="%" type="number"
                          :rules="[(value)=> parseFloat(value)<100 &&  parseFloat(value)>0 || 'Valores entre 0 e 100']"/>
            <!--            <v-switch v-model="logResult" label="Log Result" dense/>-->
            <span style="display: block">PlayAgain: {{playAgainLabel}}</span>
            <span style="display: block">Register: {{registerLabel}}</span>

            <video ref="video" style="display: none"/>
            <canvas ref="canvas" style="display: none"
                    :height="screen.size.height * screen.scaleFactor"
                    :width="screen.size.width* screen.scaleFactor"/>
            <!--            <p v-html="log">batata</p>-->
        </v-container>
    </div>
</template>

<script>

    import config from "../utils/storage/Config";

    const electron = require('electron');
    import Automation from '../utils/automation.mixin'

    export default {
        name: "Main",
        mixins: [Automation],
        data() {
            return {
                play: true,
                video: null,
                canvas: null,
                canvasCtx: null,
                canvasTimer: null,
                sampleTime: 0.5,
            }
        },
        methods: {
            canvasHandler() {
                if (!this.play) {
                    return
                }
                try {
                    let canvas = document.createElement('canvas');
                    canvas.height = this.screen.size.height;
                    canvas.width = this.screen.size.width;
                    // let canvasCtx = this.canvas.getContext('2d');
                    this.canvasCtx.drawImage(this.video, 0, 0, this.screen.size.width, this.screen.size.height);
                    this.automation(this.canvas);

                } catch (e) {
                    console.log(e);
                }
            },
            save() {
                config.set('sampleTime', this.sampleTime);
                config.set('threshold', this.threshold);
            },
            close() {
                electron.remote.getCurrentWindow().close();
            },
        },
        mounted() {
            config.assign(this);

            this.video = this.$refs.video;
            this.canvas = this.$refs.canvas;
            this.canvasCtx = this.$refs.canvas.getContext('2d');
            electron.desktopCapturer.getSources({types: ['screen']}).then(async sources => {
                this.printLog("Tela: " + sources.map(value => value.name));
                for (let source of sources) {
                    try {
                        const stream = await navigator.mediaDevices.getUserMedia({
                            audio: false,
                            video: {
                                mandatory: {
                                    chromeMediaSource: 'desktop',
                                    chromeMediaSourceId: source.id/*'screen:0:0'*/,
                                    minWidth: 1280,
                                    minHeight: 720,
                                }
                            }
                        });
                        this.video.srcObject = stream;
                        this.video.onloadedmetadata = () => this.video.play();
                        this.canvasTimer = setInterval(this.canvasHandler, this.sampleTime * 1000);
                    } catch (e) {
                        console.log(e);
                    }
                    return;
                }
            }).catch(err => {
                console.log(err);
            });
        },
        beforeDestroy() {
            if (this.canvasTimer) {
                clearInterval(this.canvasTimer);
            }
        },
        watch: {
            play() {
                if (this.canvasTimer) {
                    clearInterval(this.canvasTimer);
                }
                this.canvasTimer = setInterval(this.canvasHandler, this.sampleTime * 1000);
            },
        }
    }
</script>

<style scoped>
    p {
        white-space: pre-line;
        height: 200px;
        overflow-y: scroll;
    }

    .drag {
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }

    .no-drag {
        -webkit-app-region: no-drag;
    }
</style>